PORT=3000
NODE_ENV=development
DB_HOST=localhost
DB_PORT=5432
DB_NAME=tontine_app
DB_USER=postgres
DB_PASSWORD=admin123
FIREBASE_PROJECT_ID=ton_project_id
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nCLE_ICI\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=firebase-adminsdk@projet.iam.gserviceaccount.com
FRONTEND_URL=http://localhost:3000
